@CHARSET "ISO-8859-1";

body {
	background-image: url("assets/jpg/mario.jpg");
}

.createForm {
	position: absolute;
	top: 20px;
	left: 30px;
}

.btn {
	margin-top: 10px;
	border-radius: 15px;
	font-weight: bold;
	color: black;
}

.form-control { 
	border-radius: 15px;
}

table {
	border-collapse: separate;
	border-spacing: 5px;
}

.error {
	color: red;
}